// Site Colours

// Greyscale
$white:       #fff;
$gallery:     #eee;
$alto:        #ddd; 
$silver:      #c8c8c8;
$silver-70:   rgba($silver, 0.7);
$grey:        #777;
$dove-grey:   #6f6f6f;
$mine-shaft:  #222; 
$black:       #000;
$black_30:    rgba($black, 0.3);
$black_50:    rgba($black, 0.5);

// Primary Colour
$primary:           #ed135d; // Pink
$primary-80:        rgba($primary, 0.8);
$primary-dirty:     #8e0b43;


// Colour classes
.text-white {         color: $white; }
.highlight-color {    color: $primary; }



@mixin primary-border-gradient {
    border: 0 solid;
    -moz-border-image: -moz-linear-gradient(left, $primary-dirty 0%, $primary 100%);
    -webkit-border-image: -webkit-linear-gradient(left, $primary-dirty 0%, $primary-dirty 100%);
    border-image: linear-gradient(to right, $primary-dirty 0%, $primary 100%);
    border-image-slice: 1;
}

.primary-border-gradient {
  @include primary-border-gradient ();
  border-width: 1px;
}

.primary-background-gradient {
    background: -webkit-linear-gradient(135deg, $primary, $primary-dirty);
}

.primary-text-gradient {
  color: $primary; /*non-webkit fallback*/
  background: -webkit-linear-gradient(135deg, $primary, $primary-dirty);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
