
input[type="text"],
input[type="email"],
textarea {
  height: 40px;
  width: 100%;
  background-color: #eee;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  font-size: 14px;
  margin: 0 0 12px 0;
  padding: 6px;
      
} 

#form-msg,
textarea.textarea {
  height: ($space) * 9;
}

#form-send,
#saveForm {
  height: ($space) * 9;
  width: 100%;
  border-width: 4px;
  background-color: $white;
  color: $grey-dark;
  font-size: 4em;
  cursor: pointer;
  display: block;
  
  &:hover {
    border: 4px solid $grey;
  }
  h4 {
    margin-top: 0;
  }
  i {
    margin-top: $space;
    display: inline-block;
  }
}

#bottom-contact {
  margin-bottom: 0 !important;
}

#details-error-wrap {
  display: none;
}
