#main-nav {
  margin-bottom: 100px;
  z-index: 300;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  
  ul.nav-bar {
    height: auto;
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
    @media (min-width: $screen-medium) {
      width: auto;
      float: right;
    }
  }
  li {
    float: none;
    overflow: auto;
    color: $mine-shaft;
    cursor: pointer;
    border: none;
    line-height: 20px;
    @media (min-width: $screen-medium) {
      float: left;
    }
    &.active {
      a {
        font-weight: bold;
        color: $primary;

      }
    }
  }
  a {
    padding: 30px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    background-color: $alto;
    color: $mine-shaft;
    @media (max-width: $screen-medium) {
      width: 100%;
    }
    @media (min-width: $screen-medium) {
      display: inline-block;
    }
    @media (min-width: $screen-large) {
      padding: 30px;
    }
    &:hover {
      background-color: $silver;
    }
  }
  #nav-container {
    width: 100%;
    height: 80px;
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: 0 0 3px 3px $black_30;
    box-shadow: 0 0 3px 3px $black_30;
    @media (max-width: $screen-medium) {
      background: -webkit-linear-gradient(135deg, $primary, $primary-dirty);
    }
    @media (min-width: $screen-medium) {
      overflow: visible;
      height: auto;
      background-color: $alto;
    }
  }
  #pull {
    @media (min-width: $screen-medium) {
      display: none;
    }
    a {
      float: left;
      width: auto;
      padding: 25px 10px;
      @media (max-width: $screen-medium) {
        background-color: transparent;
      }
    }
    .nav-hamburger {
      display: block;
      width: 30px;
      height: 30px;
      background: transparent url('data:image/svg+xml;charset=UTF-8,<svg height="12px" version="1.1" viewBox="0 0 22 12" width="22px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><defs><path d="M0.500836134,0 C0.224231975,0 0,0.214035034 0,0.504684448 L0,1.49531555 C0,1.77404508 0.217741728,2 0.500836134,2 L21.4991639,2 C21.775768,2 22,1.78596497 22,1.49531555 L22,0.504684448 C22,0.225954924 21.7822583,0 21.4991639,0 L0.500836134,0 Z M0.500836134,5 C0.224231975,5 0,5.21403503 0,5.50468445 L0,6.49531555 C0,6.77404508 0.217741728,7 0.500836134,7 L21.4991639,7 C21.775768,7 22,6.78596497 22,6.49531555 L22,5.50468445 C22,5.22595492 21.7822583,5 21.4991639,5 L0.500836134,5 Z M0.500836134,10 C0.224231975,10 0,10.214035 0,10.5046844 L0,11.4953156 C0,11.7740451 0.217741728,12 0.500836134,12 L21.4991639,12 C21.775768,12 22,11.785965 22,11.4953156 L22,10.5046844 C22,10.2259549 21.7822583,10 21.4991639,10 L0.500836134,10 Z" id="path-1"/></defs><g fill="none" fill-rule="evenodd" id="miu" stroke="none" stroke-width="1"><g id="nav-hamburger"><use fill="#fff" fill-rule="evenodd" xlink:href="#path-1"/><use fill="none" xlink:href="#path-1"/></g></g></svg>') 0 0 no-repeat;
      background-size: cover;
    }
  }
  #logo {
    float: left;
    margin-left: 20px;
    @extend .mask;
    a {
      padding: 0;
      width: 200px;
      height: 80px;
      float: left;
      background: url(../images/logo-text-only-white.svg) left center no-repeat;
      background-size: 80%;
      @media (min-width: $screen-small) {
        width: 360px;
      }
      @media (min-width: $screen-medium) {
        height: 200px;
        background:  url(../images/logo.svg) center top no-repeat;
      }
      @extend .mask;
    }
  }
}
