$font-stack: 'Raleway',
'Helvetica Neue',
'Helvetica',
Helvetica,
Arial,
sans-serif;

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  font-size: 14px;
  direction: ltr;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
  font-weight: bold;
  font-style: normal;
  color: #222;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: 14px;
  margin-top: 14px;
  small {
    font-size: 60%;
    color: $dove-grey;
    line-height: 0
  }
  a {
    color: inherit;
  }
}

h1 {
  font-size: 44px;
}

h2 {
  margin-bottom: ($space * 3);
  font-size: 37px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 23px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 17px;
}

// font weights
.text-book {
  font-weight: 300;
}

.text-xbold {
  font-weight: 800;
}

.text-bold {
  font-weight: 700;
}

.text-lead {
  font-size: 1.4em;
  * {
    font-size: 1.4em;
  }
}

// Font alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

a {
  color: $primary;
}

ul,
ol,
dl {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 17px;
  list-style-position: outside;
}

hr {
  border: solid $alto;
  border-width: 1px 0 0;
}
