// Site Colours

// Greyscale
$white:             #fff;
$silver_light:      rgb(200,200,200);
$grey-lightest-70:  rgba(221, 221, 221, 0.7);
$grey-lightest:     #ddd;
$grey-lighter:      #ccc;
$grey-light-70:     rgba(187, 187, 187, 0.7);
$grey-light:        #bbb;
$grey:              #777;
$grey-dark:         #222;
$black_30:          rgba(0, 0, 0, 0.3);
$black_50:          rgba(0, 0, 0, 0.5);

// Primary Colour
$primary:           #ed135d; // Pink
$primary-80:        rgba($primary, 0.8);
$primary-dirty:     #8e0b43;

@mixin primary-border-gradient {
    border: 0 solid;
    -moz-border-image: -moz-linear-gradient(left, $primary-dirty 0%, $primary 100%);
    -webkit-border-image: -webkit-linear-gradient(left, $primary-dirty 0%, $primary-dirty 100%);
    border-image: linear-gradient(to right, $primary-dirty 0%, $primary 100%);
    border-image-slice: 1;

}

// Colour classes
.text-white {         color: $white; }
.highlight-color {    color: $primary; }




.primary-text-gradient {
  color: $primary; /*non-webkit fallback*/
  background: -webkit-linear-gradient(135deg, $primary, $primary-dirty);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
