section {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (min-width: $screen-small) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (min-width: $screen-medium) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media (min-width: $screen-large) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}


#home {
  // @include primary-border-gradient;
  border-bottom-width: 14px;
  padding-top: 17%;
  padding-bottom: 0;
  background: transparent url('../images/TA-hero.jpg') center bottom no-repeat;
  background-size: auto 100%;
  @media (min-width: $screen-large) {
    background-attachment: fixed;
    background-size: cover;
  }
  .home-tag {
    @extend .primary-background-gradient;
    padding: $space 0;
    vertical-align: middle;
    p {
      margin-bottom: 0;
      vertical-align: middle;
    }
  }
}

#home-title {
  height: 200px;
  @media (min-width: $screen-small) {
    height: 280px;
  }
  @media (min-width: $screen-medium) {
    height: 300px;
  }
  @media (min-width: $screen-large) {
    height: 500px;
  }
  h1 {
    font-size: 6em;
    line-height: 0.8;
  }
  h4 {
    color: $primary;
  }
  img.arrow-inline {
    padding-right: $space;
    vertical-align: middle;
  }
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    &:first-child {
      position: relative;
      display: block;
      float: left;
    }
  }
  img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
  }
}

.page-callout {
  margin-bottom: 38px;
}

#services {
  background-color: $grey-lightest-70;
  p {
    font-size: 23px;
  }

  .service {
    border-right: 3px solid;
    &:last-child {
      border-right: 0;
    }
  }
}

#about-us {
  p {
    font-size: 17px;
  }
}

.testimonials {
  min-height: 820px;
  padding-bottom: 8%;
  padding-top: 8%;
  background: url('../images/testimonials-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  @media (min-width: $screen-small) {
    min-height: 1085px;
  }
  @media (min-width: $screen-medium) {
    min-height: 1040px;
  }
  p {
    @media (min-width: $screen-small) {
      font-size: 23px;
    }
  }
  .testimonial {
    background-color: $grey-lightest-70;
    padding: $space;
  }
  .testimonial-triangle {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 0 solid transparent;
    border-top: ($space) * 2 solid $grey-light-70;
  }
  i.foundicon-quote {
    color: #FFF;
    font-size: 60px;
  }
}


.clients {
  min-height: 450px;
  padding-bottom: 8%;
  padding-top: 8%;
  background: url('../images/clients-bg-blur.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.client {
  padding: $space;
}



// .rslides_nav {
//   z-index: 3;
//   position: absolute;
//   -webkit-tap-highlight-color: rgba(0,0,0,0);
//   top: 50%;
//   left: 0;
//   opacity: 0.7;
//   // text-indent: -9999px;
//   overflow: hidden;
//   text-decoration: none;
//   height: 61px;
//   width: 38px;
//   margin-top: -45px;
// }

// .rslides_nav.next {
//   left: auto;
//   background-position: right top;
//   right: 0;
//   text-align: right;
// }

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  padding: 52px 10px 10px;
  background-color: $primary-80;
}

#portfolio-container {
  margin-bottom: 40px;
}

.isotope-item {
  z-index: 2;
  width: 302px;
  height: 180px;
  overflow: hidden;
}

#filters {
  list-style: none;
  overflow: hidden;
  margin: 0;
  display: inline-block;
  li {
    float: left;
    margin-left: $space;
    &:first-child {
      margin-left: 0;
    }
    a {
      font-weight: 800;
      color: $grey-dark;
      font-size: 17px;
    }
  }
}

.active-filter {
  border-bottom: 3px solid $grey-dark;
}

.isotope {
  @extend %transition;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
  .isotope-item {
    @extend %transition;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    &.no-transition {
      @extend %no-transition;
    }
  }
  &.no-transition {
    @extend %no-transition;
    .isotope-item {
      @extend %no-transition;
    }
  }
}

.project-slideshow {
  height: 400px;
  overflow: hidden;
  border-bottom: 14px solid $primary;
}

.project-description {
  h3 {
    margin-bottom: 0;
  }
  h4 {
    margin-top: 5px;
  }
}

// .project-details {
//   background-color: $primary;
//   padding: 10px;
//   margin-top: $space;
//   h5 {
//     margin-top: 5px;
//     margin-bottom: 0;
//   }
// }

.project-triangle {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 0 solid transparent;
  border-top: ($space) * 2 solid $primary-dirty;
  margin-bottom: ($space) * 2;
}

.project-triangle-right {
  width: 0;
  height: 0;
  border-right: 40px solid transparent;
  border-left: 0 solid transparent;
  border-top: ($space) * 2 solid $primary-dirty;
  margin-bottom: ($space) * 2;
}

// #clients {
//   padding-bottom: 8%;
//   padding-top: 8%;
//   background: url('../images/TA-hero-blur.jpg');
//   background-size: cover;
//   background-attachment: fixed;
//   h2 {
//     margin-bottom: ($space) * 4;
//     margin-top: 0;
//   }
//   img {
//     width: 200px;
//     margin-bottom: 10px;
//     display: inline-block;
//   }
// }

// .our-team {
//   margin-bottom: 80px;
//   img {
//     height: 250px;
//     max-width: 200%;
//     position: relative;
//     top: 2px;
//   }
// }

// .team-member {
//   overflow: hidden;
//   p {
//     background-color: $grey-lighter;
//     padding: 10px 15px 20px;
//     margin-bottom: 0;
//   }
// }

// .team-image-wrap {
//   overflow: hidden;
// }

// .team-member-title {
//   background-color: $primary;
//   padding: 10px 0 10px 15px;
//   h5 {
//     margin: 5px 0 0;
//     small {
//       color: $white;
//       font-size: 70%;
//       vertical-align: middle;
//     }
//   }
//   h6 {
//     margin: 7px 0 5px;
//   }
// }

// .team-hover {
//   position: absolute;
//   top: 0;
//   width: 90.5%;
//   height: 254px;
//   background-color: $primary-80;
//   font-size: 4em;
//   display: none;
//   z-index: 200;
//   i {
//     margin-top: $space;
//     display: inline-block;
//   }
// }
