
$space: 15px;

.thick-hr {
  border: 6px solid $white;
  position: relative;
}


.divider {
  @include primary-border-gradient;
  border-top: 14px solid;
  border-bottom: 14px solid;
}

.overflow {
  overflow: hidden;
}

.mask {
  font: 0pt/0 a;
  color: transparent;
  text-shadow:none;
}

.no-margin-top      { margin-top: 0; }
.margin-top-1       { margin-top: $space; }
.margin-top-2       { margin-top: $space * 2; }
.margin-top-3       { margin-top: $space * 3; }
.margin-top-4       { margin-top: $space * 4; }
.margin-top-5       { margin-top: $space * 5; }

.no-margin-bottom   { margin-bottom: 0; }
.margin-bottom-1    { margin-bottom: $space; }
.margin-bottom-2    { margin-bottom: $space * 2; }
.margin-bottom-3    { margin-bottom: $space * 3; }
.margin-bottom-4    { margin-bottom: $space * 4; }
.margin-bottom-5    { margin-bottom: $space * 5; }
