
$space: 15px;

.thick-hr {
  border: 6px solid $white;
  position: relative;
}

section {
  margin-bottom: 140px !important;
}

.divider {
  @include primary-border-gradient;
  border-top: 14px solid;
  border-bottom: 14px solid;
}

.overflow {
  overflow: hidden;
}

.mask {
  font: 0pt/0 a;
  color: transparent;
  text-shadow:none;
}
