
$space: 15px;

.thick-hr {
  border: 6px solid $white;
  position: relative;
}

section {
  margin-bottom: 40px !important;
}

.divider {
  border-top: 14px solid $primary;
  border-bottom: 14px solid $primary;
}

.overflow {
  overflow: hidden;
}
